<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <!-- //express melindungi file statis kita atau asset webnya diproteksi, supaya bisa diakses harus ada folder public atau pake express.static -->
      <img src="./img/fq.jpg" class="img-thumbnail rounded-circle" width="150" alt="FQ" srcset="">
      <h1 class="display-4">
        TESTING
      </h1>
      <p class="lead">
        MHS | TESTER
      </p>
    </div>
  </div>
</div>
