    <h1>Dashboard</h1>
    <h3>halo <%= nama %></h3>
    <h4>Daftar Mhs</h4>
    <% if (mhs.length < 1) { %>
     <p>Data Tidak Ada</p>
    <%} else {%>
    <!-- // bekerja dengan array dengan forEach -->
    <% mhs.forEach(mhswa => { %>
      <ul>
        <li>
          Nama : <%= mhswa.nama %> 
        </li>
        <li>
          Email : <%= mhswa.email %> 
        </li>
      </ul>
    <% }) %>
    <% } %> 